@import '../styles/colors.scss';

.card__wrapper {
    border: none;
    border-radius: 0;
    color:$navy-blue;
    background-color: $light-blue;
}

.card__icon {
    font-size: 5rem;
    margin: 0 0.2em;
}