$beige:#FFF1E6;
$light-gray: #F0EFEB;
$maroon-red: #772e25;
$dark-teal: #197278;
$white: #FFFFFF;
$black: #000000;
$navy-blue: #223855;
$soft-blue: #5F7AAB;
$hard-blue: #395174;
$light-blue: #E9F6FF;
