{
	"presets": ["next/babel"], 
	"plugins": [
		[
			"module-resolver", 
		{
			"root": ["./"],
			"alias": { 
				"@styles/*": "./styles",
				"@database/*": "./database",
				"@server/*": "./server",
				"@routes/*": "./server/routes"
			}
		}
	]
]}