@import '../styles/colors.scss';

.email__wrapper {
    justify-content: center;
    width: 40%;
}

.email__row{
    font-size: 1.7rem;
    padding: 1rem 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom-color: $navy-blue;
    background-color:$light-blue;
    color: $navy-blue;
    &__button{
        padding: 4rem 1rem;
        margin: 0 auto;
        width: 50%;
    }
}

.email__row:focus{
    background-color: $light-blue;
}

.email__label{
    font-size: 2rem;
    text-align: left !important;
    color:$navy-blue;
}

.email__button{
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: $navy-blue;
    border-color: $navy-blue;
    background-color: $light-blue;
    border-radius: 0;
    border-width: 0.3rem;
}

.email__button:focus{
    background-color: $navy-blue;
    border-color: $navy-blue;
}
.email__button:hover{
    background-color: $navy-blue;
    border-color: $navy-blue;
}