@import '../styles/colors.scss';

.footer__wrapper {
    background-color: $navy-blue;
    padding: 10em 21em;
    padding-top: 15em;
    justify-content: center;
    color: $white;
    // @media screen and (min-width:1201px) {
        
    // }    
}

.footer__body {
    display: flex;
    justify-content: center;
}

.footer__row {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.footer__links{
    padding: 0.5rem 0rem;
    font-size: 1.5rem;
}


.footer__links:hover{
    color:$white;
}

.footer__links:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.footer__links:hover:after { 
    width: 100%; 
    left: 0; 
  }