
@import '../styles/colors.scss';


.row__section:nth-child(odd) {
    background-color: $light-blue;
}
.row__section:nth-child(even) {
    color: $white;
}

.row__wrapper {
    padding: 10em 21em;
    justify-content: center;
}

.skills {
    &__body {
        margin-top: 8em;
    }

    &__title {
        text-align: center;
    }

    &__card {
        margin: 0 1.5em;
    }
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    &__toronto{
        object-fit: cover;
        width: 100%;
        padding: 0%;
        max-height: 30vh;
        object-position: 0 65%;
        height: 100%;
    }

    &__codePic{
        object-fit: cover;
        max-width: 110%;
        width: 100%;
        padding: 0%;
        max-height:30vh;
        object-position: 0 50%;
    }

    &__reach{
        object-fit: cover;
        width: 100%;
        padding: 0%;
        max-height: 30vh;
        object-position: 0 35%;
        height: 100%;
    }
}

.contact__button{
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: $navy-blue;
    border-color: $navy-blue;
    background-color: $light-blue;
    border-radius: 0;
    border-width: 0.3rem;
}

.contact__button:focus{
    background-color: $navy-blue;
    border-color: $navy-blue;
}
.contact__button:hover{
    background-color: $navy-blue;
    border-color: $navy-blue;
}

.readmore__button{
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: $white;
    border-color: $white;
    background-color: $soft-blue;
    border-radius: 0;
    border-width: 0.3rem;
}

.readmore__button:focus{
    color:$navy-blue;
    background-color: $white;
    border-color: $white;
}
.readmore__button:hover{
    color:$navy-blue;
    background-color: $white;
    border-color: $white;
}